{% extends "booking/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<!-- Page heading -->
<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <h1 class="page-heading">{% trans "Confirm E-mail Address" %}</h1>
      </div>
    </div>
</div>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<!-- Confirmed content -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}"><span class="scots strong">{{ email }}</span></a> is an e-mail address for user <span class="scots strong">{{ user_display }}</span>.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="btn btn-join" type="submit">{% trans 'Confirm' %}</button>
            </form>
        </div>    
    </div>
</div>

{% else %}

{% url 'account_email' as email_url %}

<!-- Not confirmed content -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
        </div>    
    </div>
</div>

{% endif %}

{% endblock %}
