{% extends "booking/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 mt-2 d-flex justify-content-center">
      <h1 class="page-heading">{% trans "Register" %}</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p class="center">{% blocktrans %}If you are already a member of the group, please <a class="scots new-members-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-12 mt-3 d-flex justify-content-center">
        <form class="signup center" id="signup-form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form1.as_p }}
          {{ form2.as_p }}
          <p class="center mb-3">Please note: It can take up to 48 hours for Admin to approve your request to join The Flying Scotsmen.</p>
          <button class="btn btn-join mt-4 mb-5" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
  </div>
</div>


{% endblock %}
