{% extends "booking/base.html" %}


{% block content %}

<!-- Page heading -->
<div class="container">
    <div class="row">
        <div id="calendar-page" class="col-12 d-flex justify-content-center"><h1 class="page-heading">Calendar</h1></div>
    </div>
</div>



<!-- Calendar -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8 col-md-10 mt-3 d-flex justify-content-evenly">
            <a aria-label="Previous Month" class="prev scots" href="{% url 'calendar' %}?{{ prev_month }}"><i class="fas fa-chevron-left"></i> Previous Month </a>
            <p id="reg1" class="aircraft-purple">G-BSAI</p>
            <p id="reg2" class="aircraft-green">G-BURD</p>   
            <a aria-label="Next Month" class="next scots" href="{% url 'calendar' %}?{{ next_month }}"> Next Month <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div id="calendar-row" class="row mt-3 d-flex justify-content-center">
        <div class="col-12 col-lg-10 mb-5 ">
            {{ calendar }}
        </div>
    </div>

    <div id="color-codes" class="row d-flex justify-content-center">
        <div class="d-flex justify-content-evenly blue-border">
            <div class="d-flex align-items-center">
                <div class="key day-free"></div>
                <p> Available</p>
            </div>
            <div class="d-flex align-items-center">
                <div class="key day-medium"></div>
                <p> Limited</p>
            </div>
            <div class="d-flex align-items-center">
                <div class="key day-full"></div>
                <p> Full</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}