{% extends "booking/base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mt-2 mb-2 d-flex justify-content-center">
            <h1 class="page-heading">Contact</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-0 d-flex justify-content-around">
        <div class="col-12 col-md-5 mt-3 mb-1 blue-border">
            <form id="contact-form" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {{ contact_form.as_p }}
      
            <div id="contact-button" class="mb-3">
                <input class="btn btn-join" type="submit" value="Submit">
            </div>
            </form>
        </div>

        <div class="col-12 col-md-5 mt-3 mb-1 d-flex justify-content-center blue-border align-items-center">
            <div class="mt-3 contact-details">
                <h3 class="sub-heading">56.4391° N, 3.3714° W</h3>
                <p>
                    The Flying Scotsmen,<br>
                    Perth Aerodrome,<br>
                    Perth,<br>
                    Scotland,<br>
                    PH2 6PL,<br>
                    <br>
                    +44 39270 127 6548<br>
                    <br>
                    <a class="email-icon" href="mailto:ewancolquhoun@hotmail.com" target="_blank" rel="noopener noreferrer" aria-label="Click here to send us an e-mail">tfs-admin@outlook.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row g-0 d-flex justify-content-around">
        <div id="contact-map" class="col-12 col-md-5 mt-4 blue-border">
            <div class="ratio ratio-1x1 map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18336.95713135544!2d-3.3605618086385145!3d56.44135997822792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48863c1062d054c9%3A0x5eb3fcd704908285!2sPerth%20Airport!5e0!3m2!1sen!2suk!4v1634546102894!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-5 mt-4 mb-5 blue-border">
            <div>
                <h3 class="sub-heading">Testimonials</h3>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>A great group of experienced flyers. Always welcoming like minded fellow Pilots</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Peter, Joined TFS 2015, <cite title="Source Title">CPL/ME/IR</cite>
                    </figcaption>
                </figure>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>The aircraft are hangered and kept in tip top form.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Davey, Joined TFS 2019, <cite title="Source Title">PPL/CRE</cite>
                    </figcaption>
                </figure>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>A variety of experience in the group, airline, ex-military and of course amateur flyers. </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Ted, Joined TFS 2010, <cite title="Source Title">PPL</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}