{% extends "booking/base.html" %}

{% block content %}

<div class="container">
    <div class="row heading-row">
        <div class="col-12 d-flex justify-content-center"><h1 class="page-heading">The Flying <span id="heading-span">Scots</span>men</h1></div>
    </div>
</div>
    
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 pt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/c_scale,h_500/v1634559628/bansai_hanger.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/c_scale,h_500/v1634559628/bansai_taxi.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/c_scale,h_500/v1634559627/bansai_dundee.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/c_scale,h_500/v1634559626/bansai_reg.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/c_scale,h_500/v1634560664/cessna_cockpit.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<hr class="half-page-break">

<div class="container">
    <div class="row ">
        <div class="col-12 col-sm-6">
            <h3 class="sub-heading">About Us</h3>
            <div id="about-us-text">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at officia assumenda maiores id impedit corporis tenetur autem cum reprehenderit consectetur enim eos eius velit, iure quia quo, dolores officiis?
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <h3 class="sub-heading">Our Aircraft</h3>
            <div class="row">
                <div class="col-6">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1634559628/bansai_hanger.jpg" height="100px" width="100px" alt="">
                    <p>General characteristics

                        Crew: 2
                        Length: 21 ft 4 in (6.50 m)
                        Wingspan: 23 ft 3 in (7.09 m)
                        Height: 7 ft 2 in (2.18 m)
                        Wing area: 81.3 sq ft (7.55 m2)
                        Aspect ratio: 6.65
                        Empty weight: 1,550–1,625 lb (703 kg)
                        Gross weight: 2,400 lb (1,089 kg)
                        Powerplant: 1 × Lycoming IO-540-K1H5 , 300[5] hp (224 kW)
                        Performance
                        
                        Maximum speed: 335 mph (539 km/h, 291 kn)
                        Cruise speed: 313 mph (454 km/h, 272 kn)
                        Stall speed: 74 mph (119 km/h, 64 kn)
                        Range: 1,300 mi (2,092 km, 1,100 nmi)
                        Service ceiling: 24,000 ft (7,315 m)
                        g limits: +6/-4
                        Rate of climb: 2,400 ft/min (12.2 m/s)</p>
                </div>
                <div class="col-6">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1634560668/cessna_ramp.jpg" height="100px" width="100px" alt="">
                    <p>General characteristics

                        Crew: one
                        Capacity: three passengers
                        Length: 27 ft 2 in (8.28 m)
                        Wingspan: 36 ft 1 in (11.00 m)
                        Height: 8 ft 11 in (2.72 m)
                        Wing area: 174 sq ft (16.2 m2)
                        Aspect ratio: 7.32
                        Airfoil: modified NACA 2412
                        Empty weight: 1,691 lb (767 kg)
                        Gross weight: 2,450 lb (1,111 kg)
                        Fuel capacity: 56 US gallons (212 litres)
                        Powerplant: 1 × Lycoming IO-360-L2A four cylinder, horizontally opposed aircraft engine, 160 hp (120 kW)
                        Propellers: 2-bladed metal, fixed pitch
                        Performance
                        
                        Cruise speed: 122 kn (140 mph, 226 km/h)
                        Stall speed: 47 kn (54 mph, 87 km/h) (power off, flaps down)[81]
                        Never exceed speed: 163 kn (188 mph, 302 km/h) (IAS)[8]
                        Range: 696 nmi (801 mi, 1,289 km) with 45 minute reserve, 55% power, at 12,000 ft
                        Service ceiling: 13,500 ft (4,100 m)
                        Rate of climb: 721 ft/min (3.66 m/s)
                        Wing loading: 14.1 lb/sq ft (68.6 kg/m2)
                        Avionics
                        Optional Garmin G1000 primary flight display</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}