{% extends "booking/base.html" %}

{% block content %}

<div class="container">
    <div class="row heading-row">
        <div class="col-12 d-flex justify-content-center"><h1>The Flying <span class="scots">Scots</span>men</h1></div>
    </div>
</div>
    
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 pt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/v1634331511/caravan-placeholder.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/v1634331512/cub-placeholder.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/v1634158357/hhbsc8yzgl7uqbcyfp8z.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<hr class="half-page-break">

<div class="container">
    <div class="row ">
        <div class="col-12 col-sm-6">
            <h3>About Us</h3>
            <div id="about-us-text">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at officia assumenda maiores id impedit corporis tenetur autem cum reprehenderit consectetur enim eos eius velit, iure quia quo, dolores officiis?
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <h3>Our Aircraft</h3>
            <div class="row">
                <div class="col-6">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/v1634331511/caravan-placeholder.jpg" height="100px" width="100px" alt="">
                    <p>text1</p>
                </div>
                <div class="col-6">
                    <img src="https://res.cloudinary.com/daoark4xo/image/upload/v1634331512/cub-placeholder.jpg" height="100px" width="100px" alt="">
                    <p>text2</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}